/* Stylesheet by Anna E. George, 2019 */

/* defines map height, width, and display type*/
#mapid { height: 712px;
				 width: 79%;/*69%;*/
				 display: inline-block;
}

.iceLayer {
	opacity: 50%;
	color: white;
}

/* Sets style for legend control container*/
.legend-control-container {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: left;
    border: solid gray 1px;
}

/* Sets style for title container*/
.title-control-container {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border: solid gray 1px;
}

/* sets style for range slider, forward, and back button*/
.range-slider {
    width: 75%;
}
#forward {
    float: right;
		/*padding: 3px;
		offset: 5px;*/
}
#reverse {
    float: left;
}

#panel {
	height: 700px;
	width: 20%;/*27%;*/
	display: inline-block;
	float: left;
	color: black;
	background-color: #E5FFE5;
	text-align: center;
	border:  solid black 1px;
	padding: 5px;
}

/* Sets style for sequence control container*/
.sequence-control-container {
    width: 400px;
    height: 30px;
	display: inline-block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
	position: absolute;
	box-shadow: 5px 8px 8px #888888;
}

.expression {
	position: absolute;
	bottom: 0;
}
#footer {
	color: black;
	text-align: center;
}
